* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-white{
    background-color: white;
}
.background-blue{
    background-color: #47ADF1;
}
.white-text{
    color: white;
}
.borderless {
    border-style: none;
}

body { 
    background-color: #F6F8F9;
    width: 100%;
}

/* header */
header {
    height: 70px;
    width: 100%;
}

.header-logo {
    padding: 10px 0 10px 10px;
    vertical-align: middle;
}
header h1 {
    display: inline-block;
    vertical-align: middle;
}

/* container */
.container {
    width: 70%;
    margin: 2em auto;
}
/* buttons */
.button-container{
    margin: 0 3em;
}
.container button {
    height: 2em;
    width: auto;
    padding: 0 0.5em;
    margin: 1em 0.1em 1em ;
    border-radius: 3px;
}
.add-section-button{
    color: lightgrey;
    border: 1px solid lightgrey ;
    background-color: white;
}
