* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background color */
.background-white{
    background-color: white;
}
.background-blue{
    background-color: #47ADF1;
}
.background-purple{
    background-color: purple;
}
.background-green{
    background-color: green;
}
.background-orange{
    background-color: orange;
}
.white-text{
    color: white;
}
.borderless {
    border-style: none;
}
.rounded-highlight{
    padding: 0.5em 0.9em;
    border-radius: 13px;
    color: white;
}

body { 
    background-color: #F6F8F9;
    width: 100%;
}

/* header */
header {
    height: 70px;
    width: 100%;
}

.header-logo {
    padding: 10px 0 10px 10px;
    vertical-align: middle;
}
header h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5em;
}

/* container */
.container {
    width: 70%;
    margin: 2em auto;
}
/* buttons */
.general-container{
    margin: 0 3em;
}
.container button {
    height: 2em;
    width: auto;
    padding: 0 0.5em;
    margin: 1em 0.1em 1em ;
    border-radius: 3px;
}
.add-section-button{
    color: lightgrey;
    border: 1px solid lightgrey ;
    background-color: white;
}

/* liste */
ul {
    list-style-type: none;
    line-height: 3em;
    font-size: 1.2em;
}

/* checkbox  */
.checkbox-round {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    vertical-align: middle;
}
.checkbox-done {
    border: 1.7px solid #A5DDD1
    
}
.checkbox-denied {
    border: 1.7px solid red
    
}
